/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}


/*********************
NAVIGATION STYLES
*********************/
.mainNavigation {
    display: block;
}
.mobile-nav {
    display: none;
}
.open-menu-link {
	display:none !important;
}
ul#menu-main-menu {
	float:left;
	li.logout,li.login {
		display:none;
	}
	}
ul#menu-right-main-menu-1 { 
	float:right;
	}
.nav {
	border: 0;
	display:block;
	margin-top:15px;
	text-transform: uppercase;
	font-size:.9em;
	font-weight:bold;
	font-family:$raleway;
	ul {
	}
	li {
		float: left;
		position: relative;
		&.menu-item {
			border-top:none;
			margin-right:3em;
			&:first-child {
				padding-left:0;
			}		
				}		
		a {
			border-bottom: 0;
			color:$blue;
			text-align:left;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
				color: $yellow;
				background-image: url('/wp-content/themes/dulceTheme/library/images/yellowCircle.png');
				background-position:right;
				background-repeat:no-repeat;
				padding-right:1em;
			}
		}

		&:first-child {}
		&:last-child  {

			}
		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;
			display: block;
			background-color:$dark-blue;
			padding:1em;
			li {
				margin-right:0;
				a {
					padding-left: 10px;
					border-right: 0;
					display: block;
					width:180px;
					font-size:.9em;
					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					right:100%;
				}
			}
			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {
					color:$yellow;
				}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {
			color:$yellow;
		}
	}  /* end current highlighters */

} /* end .nav */
li.logout, li.login {
	a {
	padding:10px;
	}
}
li.login.pum-trigger, li.logout {
	display:block;
}
.mobileLogin {
	display:none;
}
 
.leblurb {
	min-height:280px;
	.blurbImg {
		#circles {
			img.bigCircle {
				height:220px;
			}	 
		}
	}
}
.updates {
 	ul {
 		li {
 			width:24%;
 		}
 	}
 }
 #blurbInterior {
	margin-left:-600px;
	li {
		margin-left:600px;
		p {
			padding-top:1em;
		}
	}
}
.page-template-fullWidthPageBlurb {
	#blurbInterior {
	margin-left:0;
	li {
		margin-left:0px;
		}
	}
}
/* .page-template-fullWidthPage {
	.entry-content p:nth-last-child(2) {
		width:58%;
		float:left;
		display:block;
	}
	 #circles {
	img.bigCircle {
			height:300px;
		}
		img.smallCircle {
			width: 160px;
    	}	 
	}
}
*/ 
.providerCircles {
	ul {
		li {
			font-size:1.2em;
			margin-right: .75em;
			a {
				display:block;
				padding:70px 0;
			&:hover {
				color:$yellow;
			}
			}
		}
	}
}