/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 760px;
} 

/*********************
HEADER STYLES
*********************/

.header {}

	#logo {  
		display:block;
	}

/*********************
CONTENT
*********************/
.hero {
	height:450px; 
}
.leblurb {
	width:100%;
	clear:both;
	display:block;
	min-height:280px;
	.blurbImg {
		width:50%;
		float:left;
		margin-top:0;
		height:320px;
		display:block;
		#circles {
			width:220px;
			display:block;
			img.bigCircle {
				height:200px;
				width:auto;
				border-radius:200px;
				margin:.25em auto;
				display:block;
			}
			img.smallCircle {
				width: 140px;
    			height: auto;
    			margin: -100px 0 0 152px;
    		}	 
		}
	}
	.blurb { 
		width:50%;
		float:right;
		margin-top:0;
		&:after {
    		border-right-color: $purple;
    		border-bottom-color: transparent;
    		border-width: 50px;
    		left: -4%;
    		margin-left: -79px;
    		top: 10%;
			}
		&:before {
    		border-right-color: $purple;
    		border-width: 20px;
    		left: 10%;
    		margin-left: -20px;
			}
	}
}
#blurbInterior {
	margin-left:-200px;
	ul {
		display: block;
    	text-align: left;
    	padding: 1.5em;
	}
		li {
			margin-left:190px;
			margin-top:1em;
			img {
				width:180px;
				height:auto;
				border-radius:100px;
				float:left;
				margin:0 1em 0 0;
			}
	}
}
.page-template-fullWidthPage {
	 #circles {
	width:40%;
	img.bigCircle {
			height:200px;
			width:auto;
			border-radius:150px;
			margin:-83px 75px 0;
		}
		img.smallCircle {
			width: 120px;
    		height: auto;
    		margin: 0;
    		border-radius:140px;
    		border:5px solid $white;
    		padding:0;
    		position: relative;
    	}	 
	}
}
.page-template-fullWidthPageBlurb {
	#blurbInterior {
	margin-left:0;
	li {
		margin-left:0;
		}
	}
}
.page-template-roll_alike-page {
	.page-title {
		display:block;
		float:left;
		width:100%;
	}
	td {
		padding:.25em;
		border-bottom:1px solid $black;
	}
}
.gallery-columns-2 {
	dl.gallery-item {
    	width: 48%;
    	display: block;
    	float: left;
	}
}
.gallery-columns-3 {
	dl.gallery-item {
    	width: 32%;
    	display: block;
    	float: left;
	}
}
.providerCircles {
	ul {
		li {
			width: 23%;
		}
	}
}
/*********************
SIDEBARS & ASIDES
*********************/
.facetResources {
	width:100%;
	display:block;
	float:right;
	background-color:$dark-blue;
	color:$blue;
	padding:2em;
	border-radius:15px;
	margin-bottom:2em;
	li {
		font-size:1.25em;
		font-weight:bold;
		display:block;
		width:30%;
		float:left;
		padding-left:1em;
	}
	.facetwp-checkbox {
		font-size:.8em;
		font-weight:normal;
	}
}
.sidebar {
	margin-top: 2.2em;
}

	.widgettitle {
		border-bottom: 2px solid #444;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 10px;
		margin: 2.2em 0;

		ul {
			li {
				margin-bottom: 0.75em;

				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer {
	bottom:0;
	left:0;
	width:100%;
}
.top-footer {
	#top {
		height:70px;
			.nav {
				float:left;
				margin-top: .5em;
				}
	}
	#bottom {
			ul {
				width:100%
			}
			li {
				width:12%;
				text-align: left; 
			}
		}	
	}
.footer-links {
	ul {
		li {
			a {
				&:hover {
					background-image:none;
					font-size:1em;
					padding:10px;
					
				}
			}
			&:last-child, &:nth-last-child(2)  {
			float:none;
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */
p.source-org.copyright {
    text-align: left;
}
