/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	height: 100%;
	font-family: $quattrocento;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration:none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	font-family:$droid;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.25em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $dark-blue;
	height:70px;
}

	#logo {
		margin:0 auto;

		a {
			color: $blue;
			text-align:center;
		}
		img {
			background-color: #082635;
    		padding: .25em;
    		border-radius: 100px;
    		margin:0 auto;
    		display:block;
		}
	}
.mobileLogin {
	display:block;
	font-weight:bold;
	font-size:1.25em;
	width:20%;
	float:right;
}
/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;
	display:none;
	text-transform:uppercase;  
	font-family:$raleway;
	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 1em;
			&:hover {
				color:$yellow;

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */

} /* end .nav */
li.menu-item {
		border-top: 1px $gray solid;
		position:relative;
			a 	{ 
				display: block;
    			color: $blue;
   				text-decoration: none;
   				padding: 10px;
    			text-align: left;
    			font-size:1em;
				font-weight:700;
    		   	}
			&:first-child {
				border-top: none;
			   }
		}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
	cursor: pointer;
}

.menu-btn span {
	display: block;
	width: 70%;
	height: 4px;
	margin: 8px auto;
	background: $blue;
	z-index: 99;
	cursor: pointer;
}

.responsive-menu{
	display: none;
	position: absolute;
    right: 0;

    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    background-color:$dark-blue;
    color:$light-blue;
}

.expand {
	display: block !important; 
	z-index:999;
}
ul .sub-menu{
	display: none;
	&.visible {
    	margin-left: 20px;
	}
}
.open-menu-link{
	display: none;
	position: absolute;
	right: 15px;
	top:0;
	line-height: 38px;
	font-size: 60px;
	cursor: pointer;
	&.close.visible {
		font-size:52px;
	}
}
.visible {
	display: block !important;
}
.mainNavigation {
    display: none;
}
.mobile-nav {
    float: left;
    width: 10%;
    display: block;
    margin-top: 2%;
    cursor: pointer;
    background-color:$dark-blue;
    margin-left:5%;
    ul {
    	list-style:none;
    	margin-top:0;
    }
}
li.login.pum-trigger, li.logout {
	display:none;
}
/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 0;
  &:after {
  content: "";
  display: block;
  }
}

		.hentry {
			margin-bottom: 1.5em;

			header {
				padding: 3.5em 1.5em 0;
			}

			footer {
				padding: 1.5em;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			color:$blue;
			font-family:$droid;
		}
		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {
				margin:1em 0 1em 2em;

				li {}

			}

			ul {
				
				li {
					list-style:circle;
				}

			}

			ol {
				list-style-type:decimal;  

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

	// the tag output
	.tags {
		margin: 0;
	}
.accordion {
	.accordion-title {
		cursor:pointer;
		color:$blue;
		font-size:1.5em;
    	&:before {
    		float:left;
    		font-size:2em; 
    		margin-right:.5em;
    		clear: both;
    		margin-top:-.4em;
    	}
    	&[aria-expanded="false"]:before { 
    		content:"+";
    	}
    	&[aria-expanded="true"]:before { 
    		content:"-";
    	}
	}
}
/******************************************************************
PAGE STYLES
******************************************************************/	
.hero {
	height:350px; 
	overflow:hidden;
	display:block;
	margin:0 auto -3em;
	background-size:cover;
}
.leblurb {
	height:100%; 
	overflow:hidden;
	display:block;
	margin:0 auto;
	background-size:cover;
	background-image: url('/wp-content/themes/dulceTheme/library/images/leblurbBackground.png');
	background-position:center;
	background-repeat:no-repeat;
}
	.blurbImg {
		background-size:cover;
		background-position: right;
		height:250px;
		margin-top:2em;
		#circles {
			width:220px;
			margin:3em auto -3em;
			img.bigCircle {
				height:200px;
				width:auto;
				border-radius:200px;
				margin:.25em -10%;
				display:block;
			}
			img.smallCircle {
				width: 140px;
    			height: auto;
    			margin: -225px 0 0 152px;
    			border-radius:140px;
    			border:5px solid $blue;
    			padding:0;
    			display:block;
    		}	 
		}
	}
	.blurb {
		width:100%;
		padding:1.25em;
		position:relative;
		color:$white;
    	h1 {
    		font-size:2em;
    		font-family:$droid;
    		padding:0;
    		margin:0;
    		}
    	h2 {
    		font-size:1.1em;
    		font-family:$droid;
    		padding:0;
    		margin:0;
    		}
    	p {
    		font-size:.85em;
    		font-family:$quattrocento;
    	}	
    	a {
    		font-size:.9em;
    		font-weight:bold;
    		color:$dark-blue;
    		text-decoration:none;
    		&:hover {
    			color:$link-hover;
    			}
    	}
		}
 .updates {
 	background-color:$dark-blue;
 	padding:2em 0;
 	color:$white;
 	font-size:.9em;
 	ul {
 		margin:0 auto;
 		display:block;
 		li {
 			width:100%;
 			padding:1em;
 			display:inline-block;
 			img {
 				width:200px;
 				height:auto;
 				border-radius:100px;
 				margin:0 auto;
 				display:block;
 			}
 			a {
 				text-decoration:none;
 				&:hover  {
 					h3, p {
 					color:$link-hover;
 					}
 				}
 			}
 			
 			h3 {
 				font-size:1.1em;
 				font-weight:bold;
 				margin-bottom:0;
 			}
 			h3, p {
 				max-width:300px;
 				margin:0 auto;
 				display:block;
 				font-family:$quattrocento;
 				color:$white;
 			}
 		}
 	}
 }
 
 .blogTitle {
 	h2 {
 		display:block;
 		margin:0 auto 1em;
 		text-align:center;
    	font-size: 1.5em;
    	color: $blue;
    	font-family:$raleway;
 	}
 	p {
 		font-size: 1em;
 		color: $blue;
    	font-family:$raleway;display:block;
 		margin:1em auto;
 		text-align:center;
 		text-decoration:none;
 		&:hover {
 			color:$link-hover;
 		}
 	}
 	img {
 		display:block;
 		margin:1em auto;
 	}
 }
 #circles {
	width:80%;
	margin:0 auto 1em;
		img.bigCircle {
			height:200px;
			width:auto;
			border-radius:150px;
			margin:-83px 75px 0;
		}
		img.smallCircle {
			width: 120px;
    		height: auto;
    		margin: 0;
    		border-radius:140px;
    		border:5px solid $white;
    		padding:0;
    		position: relative;
    	}	 
	}
#blurbInterior {
	background-size:cover;
	background-image: url('/wp-content/themes/dulceTheme/library/images/leblurbBackground.png');
	background-position:center;
	background-repeat:no-repeat;
	color:$white;
	ul {
		width:100%;
		padding:1.5em;
	}
	li {
		min-height:190px;
		margin-top:1.5em;
		img {
			width:200px;
			height:auto;
			border-radius:100px;
			float:none;
			margin: 1em auto;
			display:block;
		}
		p {
			font-size:.75em;
		}
	}
}
.page-template-fullWidthPage {
	 #circles {
	width:100%;
	margin:0 auto 1em;
	float:right;
		img.bigCircle {
			height:200px;
			width:auto;
			border-radius:150px;
			margin:-83px 75px 0;
		}
		img.smallCircle {
			width: 120px;
    		height: auto;
    		margin: 0;
    		border-radius:140px;
    		border:5px solid $white;
    		padding:0;
    		position: relative;
    	}	 
	}
}
.page-template-fullWidthPageNoHero, .single {
	.header {
		height:140px;
		.nav {
			margin-top:45px;
		}
	}
}
.providerCircles {
	ul {
		width: 90%;
 		text-align: center;
		li {
			display: inline-block;
			width: 48%;
			background-color: $dark-blue;
			text-align: center;
			vertical-align: middle;
			font-weight:bold;
			font-size:1.25em;
			word-break:break-word;
			margin-bottom:1.5em;
			height:170px;
			a {
				display:block;
				padding: 50px 0;
				color:$light-gray;
			}
		}
	}
}
.page-template-roll_alike-page {
	.hero {
		margin-bottom:1em;
	}
}
.single-tribe_events .tribe-events-cal-links {
	display:none;
}
/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */
	
.pum-responsive {
	h2 {
		margin:.5em auto;
		display:block;
		color:$yellow;
		text-align:center;
		}
	img {
		margin:.5em auto;
		display:block;
		}
	a {
		text-align:center;
		display:block;
	}
	}
.tml-rememberme-wrap {
    display: none;
}
input#user_login1, input#user_pass1 {
    background-color: $yellow;
}
input#wp-submit1 {
    background-color: $blue;
    border: 0;
    border-radius: 10px;
    color: $white;
    margin: .5em auto;
    display: block;
    padding: .75em 4em;
}
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	background-color:$dark-blue;
	color:$blue;
	border-radius:10px;
}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}
#sidebarLinks {
	padding:1em;
	margin-top:5.5em;
	h2 {
		text-align:center;
		clear:both;
		font-size:1.2em;
		font-weight:bold;
		font-family:$raleway;
	}
	img {
		margin:.75em auto;
		display:block;
	}
	li {
		margin:1em;
		color:$light-blue;
		a {
				margin-left:-.5em;
				margin-right:.5em;
				color:$light-blue;
				font-weight:bold;
				display:block;
				}
			}
		
}
/*********************
FOOTER STYLES
*********************/

.footer {
	clear: both;
	background-color: $gray;
	color: $light-gray;
	#content:after {
	height: 142px; 
	
}
}
	.top-footer {
		background-color:$light-gray;
		color:$gray;
		#top {
			border-bottom:1px solid $gray;
			height:90px;
			li.menu-item {
    			border-top: none;
    			display: inline-block;
    			font-size:.95em;
				}
			nav {
				width:60%;
				float:left;
			li.logout, li.login {
				display:none;
			}
			.nav {
				display: inline-block;
			}
				li a {
					color:$gray;
				}
			}
			.footerSocialMedia {
				display:inline-block;
				float:right;
				img {
					width:45px;
					height:auto;
					padding:.5em;
				}
			}
		}
		#bottom {
			ul {
				width:100%
			}
			li {
				width:48%;
				display:inline-block;
				padding:.75em .5em;
				text-align:center;
			}
		}	
	}
 /* end .footer-links */


	.copyright {}
 